/**** CORE STYLES ****/
:root {
    --primary-color: rgba(13, 110, 139, 0.75);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu--speed: 0.75s;
}

* {
    padding: 0;
    box-sizing: border-box;
}

/**** GENERAL ****/
.container {
	margin: 2%;
}

a{
	text-decoration: none;
}

li {
	list-style: none;
}

/**** NAVIGATION ****/
.nav-info {
	width: 100%;
    align-items: center;
    height: 25px;
    background-color: red;
}

.info {
	width: 400px;
}
.info-P {
	margin-right: 50px;
	justify-content: center;
}

.nav-info div {
	display: inline;
}

.nav-info a {
	float: right;
	margin-right: 30px;
}

.nav {
	height: 100px;
	background-color: green;
}

.nav div {
	display: inline;
}

.nav-links {
	margin-top: 35px;
	float: right;
    display: flex;
    width: 50%;
    justify-content: space-around;
    background-color: red;
}

.header {
	width: 100%;
	height: 720px;
	position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
	background-image: url("F://Cyber/Javascript/Project/HP/images/Banner Image.png");
	background-position: center;
	background-size: cover;
}